.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin: 50px;
}

.title {
    font-size: 72px;
    z-index: 10;
    font-weight: bold;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

.cardCont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socialHolder {
    width: 25px;
    height: 25px;
    position: relative;
}

/**
phone sizes
 */
@media screen and (max-width: 500px) {
    .socialHolder {
        width: 15px;
        height: 15px;
    }
}