.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin: 50px;
}


.title {
  font-size: 72px;
  font-weight: bold;
}

.titles {
  width: 100%;
  padding-bottom: 2px;
  border-bottom: #9288AF solid 1px;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  width: 800px;
  border: #9288AF solid 1px;
}


.centerItem {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.info {
  font-size: 22px;
}

.button {
  padding: 20px;
  cursor: pointer;
  background-color: #8D8FAD;
  font-size: 22px;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
}

.pfp {
  border-radius:50%;
}


@media screen and (max-width: 850px) {
  .title {
    font-size: 56px;
  }
  .center {
    width: auto;
  }
  .centerItem {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 300px) {
  .title {
    font-size: 36px;
  }
  .center {
    width: auto;
  }
  .centerItem {
    flex-direction: column-reverse;
  }
}
