.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 20px;
}


.title {
  font-size: 72px;
  font-weight: bold;
}

.titles {
  width: 100%;
  padding-bottom: 2px;
  border-bottom: #9288AF solid 1px;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row-reverse;
  border: #9288AF solid 1px;
  gap: 40px;
  padding: 20px;
}


.centerItem {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  gap: 20px;
  justify-content: center;
}

.info {
  font-size: 22px;
}

.centerTextHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 500px;
}

.button {
  padding: 20px 50px;
  cursor: pointer;
  background-color: #CF4420;
  font-size: 22px;
  border: none;
  border-radius: 10px;
  color: #FFFFFF;
  font-family: inherit;
}

.pfp {
}


@media screen and (max-width: 900px) {
  .title {
    font-size: 56px;
  }
  .center {
    width: auto;
  }
  .centerItem {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 36px;
  }
  .center {
    width: auto;
  }
  .button {
    padding: 20px;
  }
}

.imgContainer {
  position: relative;
  width: 683px;
  height: 683px;
}
