.container {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  margin: 50px;
  height: 100%;
}

.title {
  font-size: 72px;
  font-weight: bold;
  color: #BFC0C0;
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 62px;
  }
}

.info {
  font-size: 22px;
  color: #BFC0C0;
}

.button {
  padding: 20px;
  cursor: pointer;
  background-color: #3E78B2;
  font-size: 22px;
  border: none;
  border-radius: 10px;
}

.pfp {
  border-radius:50%;
}
