.container {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    z-index: 10;
}

.links {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 20px;
}

.link {
    font-size: 22px;
    color: #BFC0C0;
}

.emoji {
    font-size: 22px;
    color: #BFC0C0;
    margin-left: 20px;
}

.login {
    font-size: 22px;
    padding: 5px;
    background-color: #e19f96;
    border: 1px solid #e19f96;
    border-radius: 5px;
    text-align: center;
    height: 38px;
    width: 100px;
    color: #FFFFFF;
    font-family: inherit;
}

.loginHolder {
    position: relative;
    display: inline-block;
}

@media screen and (max-width: 1284px) {
    .links {
        height: 50px;
    }
    .emoji {
        font-size: 14px;
    }
    .login {
        font-size: 12px;
        height: 25px;
        width: 50px;
    }
}

@media screen and (max-width: 500px) {
    .link {
        font-size: 14px;
    }
    .links {
        gap: 20px;
    }
}
