.container {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #071013;
}

.links {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-right: 20px;
}

.link {
    font-size: 22px;
    color: #BFC0C0;
}

.emoji {
    font-size: 22px;
    color: #BFC0C0;
    margin-left: 20px;
}

.login {
    font-size: 22px;
    padding: 10px;
    background-color: #EC4E20;
    border: 2px solid #EC4E20;
    border-radius: 10px;
    color: #BFC0C0;
}

@media screen and (max-width: 500px) {
    .container {
        height: 50px;
    }
    .link {
        font-size: 15px;
        margin: 20px;
    }
}