.container {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #071013;
}

.copyright {
    font-size: 16px;
    font-weight: bold;
    margin-left: 30px;
}

.socials {
    display: flex;
    align-items: center;
    margin: 40px;
    gap: 20px
}

.links {
    display: flex;
    align-items: center;
}

.link {
    font-size: 22px;
    padding-right: 40px;
    color: #BFC0C0;
}