.container {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #071013;
    flex-shrink: 0;
}

.copyright {
    font-size: 16px;
    font-weight: bold;
    margin-left: 30px;
}

.socials {
    display: flex;
    align-items: center;
    margin: 40px;
    gap: 20px
}

.links {
    display: flex;
    align-items: center;
}

.link {
    font-size: 22px;
    padding-right: 40px;
    color: #BFC0C0;
}

.socialHolder {
    width: 25px;
    height: 25px;
    position: relative;
}

@media screen and (max-width: 1080px) and (min-width: 500px) {
    .copyright {
        font-size: 8px;
    }
}

@media screen and (max-width: 500px) {
    .copyright {
        font-size: 7px;
    }
    .socials {
        margin: 20px;
        gap: 10px
    }
    .link {
        font-size: 10px;
        padding-right: 10px;
    }
    .socialHolder {
        width: 15px;
        height: 15px;
    }
}